p {
	font-size: smaller;
	line-height: 1;
}
.top {
	color:green;
	text-transform: uppercase;
}
.top p {
	text-transform: none;
}
h2 {
	color: yellow;
	text-shadow: 3px 3px 5px #333;
}
.middle p {
	text-shadow: none;
}
}
.bottom {
	color: #754605;
	font-weight: bold;
}
.bottom p {
	font-style: normal;
}
